body {
    font-family: 'Barlow', sans-serif;
}

a {
    color: #00e589;
}

header {
    font-family: 'Rock Salt', cursive;
    margin-bottom: -1%;
}

#labels {
    font-family: 'Barlow', sans-serif;
    margin-bottom: 1%;
}

#container {
    max-width: 1100px;
    max-height: 740px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    /* position: fixed; */
    /* border: 2px solid red; */
}

#site-content-container {
    position: relative;
    overflow: visible;
    height: 640px;
    margin: 0 auto;
    position: relative;
    margin-top: 4%;
    /* border: 2px solid cyan; */
}

header,
nav {
    text-align: center;
}

.more-info {
    text-align: center;
    line-height: 50%;
}

#bio,
#portfolio,
#contact {
    width: 25%;
    float: left;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    padding-bottom: 1%;
}

#bio {
    left: -2%;
    position: absolute;
    /* left: -2%; */
    /* top: 5%;  */
}

#portfolio {
    position: absolute;
    right: 38%;
    /* top: 25%;  */
    margin-top: 14%;
}

#contact {
    position: absolute;
    right: -2%;
}

#social {
    position: fixed;
    top: 0;
    left: 0;
    /* text-align: center; */
    font-family: sans-serif, 'FontAwesome';
    font-size: 80%;
    /* display: none; */
}

#bio-content,
#portfolio-content,
#contact-content {
    margin: 0 auto;
    height: 100%;
    /* IE10+ */
    background-image: -ms-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(47, #F6F6F6), color-stop(100, #ededed));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
}

#bio-content p,
#portfolio-content p,
#contact-content p {
    padding: 5%;
    text-indent: 25px;
    hyphens: auto;
    word-break: keep-all;
    color: black;
    overflow: auto;
}

#portfolio-content p {
    text-indent: 0px;
}

#social a {
    text-decoration: none;
    color: black;
}

.expand {
    cursor: pointer;
}

#headshot {
    margin: 0 auto;
    width: 100%;
    height: 50%;
}
#demo-area{
    margin-top: -10%;
    border: 1px solid;
    text-align: center;
    overflow: hidden;

}
#demo-area img{
    width: 80%;
}

#playlist {
    /* -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); */
    /* display: none; */
    position: absolute;
    left: 0;
    /* top: 5%; */
    width: 400px;
    height: 100px;
    /* opacity: 0; */
    transition: ease-in 1s;
}

#playlist:hover {
    opacity: 1;
}

#info-container {
    position: absolute;
    top: 35.4%;
    right: 9%;
    float: left;
    height: 450px;
    width: 25%;
}

#project_info {
    background-color: white;
    display: none;
    max-width: 200px;
    width: 100%;
    padding: 1%;
    border: 1px solid black;
    z-index: 2;
}

svg,
g,
path {
    width: 50%;
    height: 50%;
}

#portfolio-content p a {
    display: inline-block;
}

#enneagram1 {
    width: 45px;
    height: 45px;
    float: left;
}

#enneagram2 {
    width: 45px;
    height: 45px;
    float: right;
}

#enneagram1,
#enneagram2 {
    margin-top: .73%;
}

#q_break {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #bio {
        position: relative;
        margin-left: 17%;
        width: 70%;
    }
    #demo-area{
        width: 70%;
    }
    #contact {
        position: relative;
        margin-left: 13.25%;
        margin-top: 5%;
        width: 70%;
    }
    #portfolio {
        position: relative;
        left: 15%;
        width: 70%;
        margin-top: 5%;
    }
    #site-content-container {
        /* border: 2px solid red; */
        padding: 5%;
    }
    #playlist {
        display: none;
    }
    #project_info {
        position: fixed;
        width: 300px;
        background: rgba(255, 255, 240, .85);
        border: none;
        right: 0;
        bottom: 9%;
        /* height: 100%; */
        /* overflow: scroll; */
    }
    #labels {
        font-size: 14px;
    }
}


/*end query*/

#net2 {
    z-index: -1;
    overflow: hidden;
}

#net-container {
    overflow-x: hidden;
    font-family: sans-serif;
    max-width: 760px;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
    /* border: 2px solid; */
}

.line {
    margin: 0 auto;
    border-bottom: 1.25px solid;
    height: 5px;
}

#net {
    position: absolute;
    display: block;
    top: 0;
    max-width: 760px;
    width: 100%;
    overflow: visible;
    transform: rotate(180deg);
}

#canvas {
    /* border: 2px solid; */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}